table, td
{
    padding: 0px;
    text-align: center;
    margin: auto;
    
}

body
{
    user-select: none;
    font-family: aller;

    background-color: #13061A;
    color: aliceblue;
}

p
{
    font-size: 20px;
}

img
{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

@font-face {
    font-family: 'aller';
    src: url('resources/fonts/aller.ttf');
}

#editor_option, #div_output
{
    text-align: center;
}


h1
{
    text-align: center;
}

button
{
    background-color: #5D1D80;
    border: 0px;
    padding: 15px;
    border-radius: 5px;
    font-family: 'aller';
    src: url('resources/fonts/aller.ttf');
    color:aliceblue;
    font-size: 20px;
}

button:hover
{
    background-color: #702399;
}

button:focus
{
    outline: 0px;
    outline-color: #A835E6;
}

input
{
    background-color: #5D1D80;
    color: aliceblue;
    font-family: 'aller';
    src: url('resources/fonts/aller.ttf');
    border-radius: 5px;
    border: 2px solid transparent;
    padding: 5px;
    font-size: 20px;
}

input:focus
{
    border: 2px solid aliceblue;
    outline: 0px;
}

label
{
    font-size: 20px;
    padding-right: 5px;
}

textarea
{
    background-color: #5D1D80;

    font-family: 'aller';
    src: url('resources/fonts/aller.ttf');

    color: aliceblue;
    border: 0px;

    font-size: 16px;
}

textarea:focus
{
    outline: 2px solid aliceblue;
}

@keyframes fadeout
{
    from {opacity: 1;}
    to {opacity: 0;}
}

#fadeOutAnim
{
    opacity: 0;
    animation-name: fadeout;
    animation-duration: 2s;
}

#hide
{
    opacity: 0;
}