table, td
{
    border: 1px solid #bbbbbb;
    padding: 0px;
}

body
{
    user-select: none;
    
}

img
{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
